# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log
eval_output.txt
events.out.tfevents.*

# PyTorch & HuggingFace Models
*.pth
*.pt
*.ckpt
*.safetensors
*.bin

# Datasets & Large Files
datasets/audio_dataset/audio_split/
datasets/image_dataset/test/
datasets/image_dataset/train/
datasets/text_dataset/test/
datasets/text_dataset/train/
datasets/marine_mammal_test/

# Keep reports and scripts
!*.py
!*.md
!*.json
!*.yaml
!*.txt
!*.csv

#Organisation Report
*.pdf

# Secrets
.env

# Marine MultiModel Alignment's Projections Head
marine_alignment/extracted_features.zip

marine_alignment/best_multimodal_pipeline_backup.pth
marine_alignment/best_multimodal_pipeline_backup_old.pth